body {
	background-color: white;
	background-image: url(../images/1876679.jpg);
	background-attachment: fixed;
	background-size: 100%;
}

li {
	color: white;
}
.link:link {
	text-decoration: none;
	color: white;
}

.link:hover {
	color: red;
	text-decoration: underline;
}